<script>   
function afterr(){
	document.getElementById('message')
	.innerHTML="Normal";
}     
</script>
<body style="background-image: url('https://th.bing.com/th/id/R.18db5246f8e0e63cf32a0db8e3b39523?rik=s1VNSb1UALjg9w&riu=http%3a%2f%2fclipart-library.com%2fimages%2fdi45ebgLT.jpg&ehk=c4pzvvrm1qr86IsoG6wh%2bn1xWr0esopV57d1dewuRHU%3d&risl=&pid=ImgRaw&r=0')
;background-size: cover;"> 
<div>
<center>
    <h2 style="font-size: 40px;">
        ECG Arrhythmia
        <span style="color: #2f8be0; font-size: 3vw">Classification</span>
    </h2>
</center>

<div >
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <center> <label for="imageUpload" class="upload-label">
                Choose...
            </label>
            <input type="file" accept="image/*" onchange="loadFile(event)">
      <p><img id="output" width="200"/></p>
      <script>
          var loadFile = function(event) {
              var image = document.getElementById('output');
              image.src=URL.createObjectURL(event.target.files[0]);
          };
      </script>
        </center>
    </form>

    <center>
        <div class="image-section" style="display:none;">
            <div class="img-preview">
                <div id="imagePreview">
                </div>
            </div>
        </div>
    </center>
</div>
<center>
    <div class="button" >     
        <button class="btn btn-success" style="position:absolute;top:55%;width:100px;height:50px;background-color:blue;color: #fff;border:none;border-radius:10px;" onclick=afterr();>
            Predict
        </button>
    </div>
   
    <div class="loader" style="display:none;"></div>
</center>
<center>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 id="message">
                    RESULT
                </h1>
                <img id="myImage" src="">
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    </center>
    
<h3 style="color:Black" id="result">
    <span> </span>
</h3>
</div>
</div>
</div>
</body>
</center>
